export DEBUG=TRUE

export BLOGSLEY_SECRET_KEY=UNSAFELYpushDEVsecretsToGitbutITSnotFORprodSOwtv

export POSTGRES_DB=blogsley
export POSTGRES_HOST=blogsley-pg
export POSTGRES_USER=blogsley
export POSTGRES_PASSWORD=blogsley

export MINIO_ACCESS_KEY=blogsley
export MINIO_SECRET_KEY=blogsley

export S3_HOST=blogsley-s3
